@inject NavigationManager navigationManager

<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            <MudButton OnClick="NewInvoice">Add Invoice</MudButton>
            <MudButton OnClick="NewExpense">Add Expense</MudButton>
            <MudButton OnClick="NewCustomer">Add Customer</MudButton>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Cancel</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok(true));

    void NewInvoice()
    {
        navigationManager.NavigateTo("/invoices/add");
    }

    void NewExpense()
    {
        navigationManager.NavigateTo("/expenses/add");
    }

    void NewCustomer()
    {
        navigationManager.NavigateTo("/customers/add");
    }
}